body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    }

    h1 {
    font-size: 30px;
    color: blue;
}

h2 {
    font-size: 20px;
    color: brown;
}

title {
    font-size: 12px;
}

img {
    border-radius: 100%;
}

.list {
    color: blueviolet;
}

#sobre {
    color: blue;
}

#name {
    color: black;
}