body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    }

    h1 {
    font-size: 30px;
    color: blue;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 20px;
    color: brown;
    text-align: center;
    
}

title {
    font-size: 12px;
}

img {
    border-radius: 100%;
    
}

.list {
    color: blueviolet;
}

#sobre {
    color: blue;
    text-align: center;
    
}

#name {
    color: black;
}

a {
    color: black;
}

.foto {
  text-align: center;
}

.listcenter {
    
}

h2:hover {
    color: blue;
}